@charset "UTF-8";


body{
	font-family:sans-serif;
}

h1 {
  text-align: center;
  color: #364e96;
  border: solid 3px #364e96;
  padding: 0.5em;
  border-radius: 0.5em;
}

table {
	color:blue;
	text-align: center;
	font-weight:bold;
	width:78%;
}

table td{
	border : solid 3px black;
}

.table1 td{
	padding:10px 10px;
}

button{
	font-size:1.4em;
	font-weight:bold;
	background-color:#248;
	color:#fff;
	border-style:none;
}

.button1{
	padding:15px 50px;
}

.button2{
	padding:15px 45px;
}

button:hover{
	background-color:#24d;
	color:#fff;
}

.NextBtnLayout{
	text-align:right;
	margin-top:40px;
}

.NextBtn{
	font-size:1.4em;
	font-weight:bold;
	background-color:#248;
	color:#fff;
	border-style:none;
	padding:10px 20px;
	border-radius:20px;
}

.NextBtn:hover{
	background-color:#24d;
	color:#fff;
}
